html {
  font-family: sans-serif;
  background-color: lightblue;
}

h1 {
  margin-left: 34%;
  background-color: white;
  width: 460px;
  text-shadow: 0rem;
  font-weight: 600;
  background-image: linear-gradient(to left, #553c9a, #b393d3);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
}

#map {
  width: 90%;
  height: 20rem;
  border: 1px solid #ccc;
  margin: 2rem auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  box-shadow: 5px;
}

form {
  text-align: center;
  margin: 2rem auto;
}

input {
  width: 200px;
}

button {
  background-color: white;
}